.RegisterBG1 {
    position: relative;
  }

  .RegisterBG1.darkThemeClass::before {
    content: '';
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, #9400D3 0%, #4B0082 100%);
    opacity: 1;
    z-index: -1;
    width: 700px;
    height: 90%;
    filter: blur(400px);
  }

  // divider for textfield 

  .darkThemeClass .divider-before::before,
  .darkThemeClass .divider-after::after {
     content: '';
     display: inline-block;
     width: 1px;
     height: 20px;
     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 53%, rgba(255, 255, 255, 0) 100%);
     margin: 0 8px; 
   }
  .divider-before::before {
     margin-left: 0; 
   }
 .divider-after::after {
     margin-right: 0;
   }

.lightThemeClass .divider-before::before,
 .lightThemeClass .divider-after::after {
     content: '';
     display: inline-block;
     width: 1px;
     height: 20px;
     background: linear-gradient(180deg, rgba(113, 117, 151, 0) 0%, #717597 53%, rgba(113, 117, 151, 0) 100%);
     margin: 0 8px; 
   }


  @media (max-width:768px) {
.LoginBG1::before {
     content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    opacity: 1;
    z-index: -1;
    z-index: -1;
    width: 100% !important;
    height: 100% !important;
    filter: blur(400px);
}

}